.callToAction {
  display: block;
  padding: 13px;
  margin: 0 auto;
  margin-top: 15px;
  text-decoration-line: none;
  width: 150px;
}

.callToAction a {
  text-decoration-line: none;
}

@media (max-width: 450px) {
  .callToAction {
    border: 1px solid black;
  }
}
